$mainTextColor: #7e6d53;
$secondTexColor: #ffffff;
$additionlTextColor: #fcfcfb;
$teriaryTextColor: #2d2a22;

$mainTextWeight: 400;
$secondTextWeight: 300;
$additionalTextWeight: 500;
$tertiaryTextWeight: 600;

$mainTextSize: 16px;
$secondTextSize: 24px;
$additionalTextSize: 40px;
$tertiaryTextWeight: 32px;
$fifthTextWeight: 20px;
$seventhTextWeight: 72px;
