* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: linear-gradient(213deg, #2d2a22 0%, #7e6d53 100%);
}

@media (max-width: 768px) {
  header {
    height: 100px;
    width: 100%;
  }
  .header__container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
  }
  .header__logo {
    height: 56px;
    margin-top: 22px;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: 20px;
    margin-top: 35px;
  }
  .header__list__item {
    font-weight: 300;
    font-size: 16px;
    color: #fcfcfb;
  }
  .header__button {
    display: none;
  }
}
@media (max-width: 1300px) {
  header {
    height: 100px;
  }
  .header__container {
    display: flex;
    flex-direction: row;
    gap: 144px;
    justify-content: center;
  }
  .header__logo {
    height: 56px;
    margin-top: 22px;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    height: 20px;
    margin-top: 35px;
  }
  .header__list__item {
    font-weight: 300;
    font-size: 16px;
    color: #fcfcfb;
  }
  .header__button {
    margin-top: 30px;
    border: 1px solid #fcfcfb;
    border-radius: 8px;
    padding: 4px 29px;
    width: 152px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    color: #fcfcfb;
    font-size: 16px;
    font-weight: 300;
  }
}